@import "tailwindcss";

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}

html,
body {
  @apply bg-white text-neutral-900;
  @apply min-h-svh;
}

html {
  color-scheme: light dark;
}

:root {
  --image-shadow-color: rgb(141, 141, 141);
}

body {
  @apply flex;
  @apply flex-col;
}

@page {
  size: A4;
  margin-top: 50px;
  margin-bottom: 50px;
}

@media print {
  @page {
    margin-left: 0;
    margin-right: 0;
  }
  @page :first {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  body {
    margin-top: 1.6cm;
    margin-bottom: 1.6cm;
  }
}

.view-transition-picture {
  view-transition-name: image-expand;
}

.view-transition-title {
  view-transition-name: title-change;
}

.markdown a:not(.slug-link) {
  @apply text-red-600 dark:text-red-400;
}

@layer base {
  html {
    @apply antialiased;
  }
  body {
    @apply text-base;
  }
  h1 {
    @apply text-2xl font-bold;
  }
  h2 {
    @apply text-xl font-extrabold;
  }
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    @apply bg-neutral-900 text-white;
  }

  :root {
    --image-shadow-color: transparent;
  }

  .astro-code,
  .astro-code span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    /* Optional, if you also want font styles */
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }

  .astro-code {
    padding: 8px;
  }
}
