@import "tailwindcss";

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}

html,
body {
  @apply bg-white text-neutral-900;
  @apply min-h-svh;
}

html {
  color-scheme: light dark;
}

:root {
  --image-shadow-color: rgb(141, 141, 141);
}

body {
  @apply flex;
  @apply flex-col;
  padding-bottom: calc(env(safe-area-inset-bottom) + 2rem);
}

@page {
  size: A4;
  margin-top: 50px;
  margin-bottom: 50px;
}

@media print {
  @page {
    margin-left: 0;
    margin-right: 0;
  }
  @page :first {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  body {
    margin-top: 1.6cm;
    margin-bottom: 1.6cm;
  }
}

.markdown a:not(.slug-link) {
  @apply text-red-600 dark:text-red-400;
}

.markdown article {
  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }

  ul,
  ol {
    padding-left: 1.25rem;
    margin: 0.75rem 0;
  }

  li {
    margin: 0.25rem 0;
  }

  :not(pre) > code {
    /* Tailwind-like defaults without needing classes */
    font-size: 0.875em;
    padding: 0.15em 0.35em;
    border-radius: 0.375rem;
    background: rgba(175, 184, 193, 0.2);
    border: 1px solid rgba(175, 184, 193, 0.25);
    color: #116329;
  }

  /* Remove the backticks that typography plugin adds by default */
  :not(pre) > code::before,
  :not(pre) > code::after {
    content: "";
  }

  a:not(pre) > code {
    text-decoration: underline;
  }
}

@layer base {
  html {
    @apply antialiased;
  }
  body {
    @apply text-base;
  }
  h1 {
    @apply text-2xl font-bold;
  }
  h2 {
    @apply text-xl font-extrabold;
  }
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    @apply bg-neutral-900 text-white;
  }

  :root {
    --image-shadow-color: transparent;
  }

  .astro-code,
  .astro-code span {
    /* biome-ignore lint/complexity/noImportantStyles: Hard override for shiki */
    color: var(--shiki-dark) !important;
    /* biome-ignore lint/complexity/noImportantStyles: Hard override for shiki */
    background-color: var(--shiki-dark-bg) !important;
    /* Optional, if you also want font styles */
    /* biome-ignore lint/complexity/noImportantStyles: Hard override for shiki */
    font-style: var(--shiki-dark-font-style) !important;
    /* biome-ignore lint/complexity/noImportantStyles: Hard override for shiki */
    font-weight: var(--shiki-dark-font-weight) !important;
    /* biome-ignore lint/complexity/noImportantStyles: Hard override for shiki */
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }

  .markdown article :not(pre) > code {
    background: rgba(110, 118, 129, 0.2);
    border-color: rgba(110, 118, 129, 0.25);
    color: #7ee787;
  }
}

.astro-code {
  padding: 8px;
}
