@import 'tailwindcss';

@theme {
  --font-sans:
    'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
}

html,
body {
  @apply bg-white;
  @apply min-h-svh;
}

body {
  @apply flex;
  @apply flex-col;
}

@page {
  size: A4;
  margin-top: 50px;
  margin-bottom: 50px;
}

@media print {
  @page {
    margin-left: 0;
    margin-right: 0;
  }
  @page:first {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  body {
    margin-top: 1.6cm;
    margin-bottom: 1.6cm;
  }
}

.view-transition-picture {
  view-transition-name: image-expand;
}

.view-transition-title {
  view-transition-name: title-change;
}
